.shopping_bag {
	float:right;
	position:relative;
}

.head.sticky .shopping_bag {
	top:12px;
}

.header_v4 .shopping_bag {
	position:absolute;
	right: 10px;
}

.header_v12 .shopping_bag {right: 10px;}

.header_bag {
	position:relative;
	margin:0 0 0 2px;
	padding:4px 10px 12px;
	font-size:26px;
	-webkit-transition:all 0.2s ease;
	transition:all 0.2s ease;
}
.header_bag a {
	color:#A7A7A7;
}
.header_bag a:hover, .shopping_bag:hover .header_bag a {
	color:#191919;
}
.header_bag span {
	position:absolute;
	font-size:9px;
	height:18px;
	width:17px;
	text-align:center;
	top:-12px;
	right:2px;
	border-radius:50%;
}
.view_cart_mini {
	width:250px;
	position:absolute;
	top:50px;
	right:0;
	padding-top:0px;
	box-shadow:0 0 40px rgba(0, 0, 0, 0.1);
	
	-webkit-transition:opacity .2s, visibility .2s ease-in;
	-moz-transition:opacity .2s, visibility .2s ease-in;
	-o-transition:opacity .2s, visibility .2s ease-in;
	transition:opacity .2s, visibility .2s ease-in;
	/* fix flicker and use hardware acceleration */
	-webkit-transform:translate3d(0, 0, 0);  
	z-index:-1;
	visibility:hidden;
	opacity:0;
  
}

.shopping_bag:hover .view_cart_mini{
	z-index:100000;
	visibility:visible;
	opacity:1;
	}
	
.view_cart {
	width:210px;
	border:1px solid #ccc;
	border-radius:2px;
	padding:20px;
	background:#fff;
	position:relative;
	margin-top:-10px;
}
.view_cart:before {
	content:"\f0d8";
	font-family:FontAwesome;
	color:#FFF;
	font-size:26px;
	position:absolute;
	right:18px;
	top:-13px;
	-webkit-text-shadow:0 -1px #CCC;
	text-shadow:0 -1px #CCC;
}
.cart_list li {
	border-bottom:1px solid #ddd !important;
	padding:0 0 10px !important;
	margin:0 0 10px !important;
	position:relative;
}

.cart_list li img{
	float:left !important;
	width:35px;
	height:35px;
	}

.cart_list .cart_list_product_title {
	width:52%;
	float:left;
}
.cart_list .cart_list_product_title a {
	font-weight:700;
    white-space:nowrap;
    overflow:hidden;
    float:left;
    width:160px;
    text-overflow:ellipsis;
}
.mcart_buttons{}
.mcart_buttons a:last-child{float:right}

.mcart_total{
	color:#191919;
	font-weight:700;
	margin:0 0 5px;
	float:left;
	width:100%;
	}






.official-shop h1.page-title{display:none !important}

.official-shop h3 small{
	color:#999;
    font-weight:normal;
	font-size:14px;
	}
	
	
.woo-title { position:relative }
.woo-title .filter_wrapper {
	position:absolute;
	top:-4px;
	right:0;
	font-size:12px;
}
.woo-title .filter_wrapper .woocommerce-ordering, .pa_selection {
	border:1px solid #E2E2E2;
	outline:none;
	-webkit-transition:all 0.2s ease;
	transition:all 0.2s ease;
	position:relative;
}
.pa_selection, .pa_selection select {
	width:100%;
}
.review i {
	color:#FCE120;
	font-size:14px;
}
.woo-title .filter_wrapper .woocommerce-ordering:hover, .pa_selection:hover { background:#F5F5F5; border:1px solid #CFCFCF }
.woo-title .filter_wrapper select, .pa_selection select {
	background:rgba(0, 0, 0, 0);
	height:30px;
	margin:0;
	border:0;
	padding:5px;
	border-radius:2px;
	-webkit-appearance:none;
	outline:none;
	color:#777
}

ul.cart_list li img,
ul.product_list_widget li img {
	box-shadow:0 1px 2px 0 rgba(0, 0, 0, 0.3);
    border:2px solid #FFF;
    margin-right:12px;
    width:42px !important;
}	

.woocommerce ul.cart_list li img,
.woocommerce ul.product_list_widget li img{
	float:left !important;
	}
	
.woocommerce .widget_top_rated_products ul.product_list_widget li img {
    width:45px !important;
}	
	
	
.woocommerce .star-rating{
	font-size:10px !important;
	}	
	

.product-categories li a:before{
	font-family:FontAwesome;
	content:"\f0da";
	margin-right:5px;
	}
.product-categories ul.children {
    padding-left:30px;
}	
	

.woocommerce .widget_price_filter .ui-slider .ui-slider-range,
.woocommerce .ui-widget-header {
    background:#191919 !important;
	box-shadow: none !important;
}

.woocommerce .widget_price_filter .price_slider_wrapper .ui-widget-content{
	background:none !important
	}
.woocommerce .ui-widget-content {
    border:1px solid #E7E7E7;
}	

.woocommerce .ui-slider .ui-slider-handle {
    background:none repeat scroll 0 0 #717171 !important;
    border:1px solid #CCCCCC !important;
    border-radius:1em !important;
    box-shadow:0 1px 2px rgba(0, 0, 0, 0.3), 0 0 0 3px inset;	
}

.woocommerce a span.onsale,
.woocommerce span.onsale{
	background:#CC0000 !important;
	text-shadow:0 -1px 0 #666666 !important;
	}
	
.woocommerce span.onsale{
	left:-29px !important;
    margin:0 !important;
    right:auto !important;
    top:10px !important;
    padding:1px 35px !important;
	line-height:24px !important;
	min-height:0 !important;
	border-radius:0 !important;
	transform:rotate(-45deg);
	-webkit-transform:rotate(-45deg);
	}
	
.woocommerce .products a.add_to_cart_button{
	display:none;
    right:10px;
    position:absolute;
    top:10px !important;
	}	
.woocommerce .products li:hover a.add_to_cart_button{
	display:block
	}
	
.woocommerce .products .star-rating{
	color:#ccc !important;
	float:none !important;
	position:relative !important;
	margin:3px auto 5px !important;
	}	
	
	
.woocommerce .products li:hover .star-rating{
	display:block;
	}	

.woocommerce ul.products li.product h3	{
	font-size:16px !important;
	padding:3px 0 8px !important;
	text-align:center;
	}	
	
.woocommerce .widget_shopping_cart .total{
	border:none !important;
	margin-bottom:15px;
	}	
	
	
.woocommerce #content input.button,
.woocommerce #respond input#submit,
.woocommerce a.button,
.woocommerce button.button,
.woocommerce input.button,
.woocommerce #content .quantity .minus,
.woocommerce #content .quantity .plus,
.woocommerce .quantity .minus,
.woocommerce .quantity .plus{
	border:none !important;
	text-shadow:none !important;
	color:#FFF !important;
	color:rgba(255, 255, 255, 0.8) !important;
	padding:7px 12px !important;
	opacity:.85;
	}
	
.woocommerce #content input.button:hover,
.woocommerce #respond input#submit:hover,
.woocommerce a.button:hover,
.woocommerce button.button:hover,
.woocommerce input.button:hover,
.woocommerce #content .quantity .minus:hover,
.woocommerce #content .quantity .plus:hover,
.woocommerce .quantity .minus:hover,
.woocommerce .quantity .plus:hover{
	color:#fff !important;
	opacity:1;
	}

.woocommerce #content .quantity .minus,
.woocommerce #content .quantity .plus,
.woocommerce .quantity .minus,
.woocommerce .quantity .plus{
	padding:0 !important;
	background:#999 !important;
	}
		
	
.woocommerce #content .quantity input.qty,
.woocommerce .quantity input.qty{
	width:55px !important;
	}

.woocommerce #content div.product,
.woocommerce div.product{
	overflow:hidden;
	}

.woocommerce div.product p.price,
.woocommerce div.product span.price,
.woocommerce ul.products li.product .price span{
	color:#777 !important; 
	font-weight:700 !important;
	}	

.woocommerce .summary .price del span{
	font-size: 12px !important;
	}	
.woocommerce .summary .price ins{
	font-size: 16px !important;
	text-decoration:none !important;
	}			
.woocommerce ul.products li.product .price del,
.woocommerce ul.products li.product .price del span{
	color:#999 !important; 
	font-size:10px;
	font-weight:400 !important;
	}	
	
.woocommerce ul.products li.product .price ins,
.woocommerce ul.products li.product .price ins span{
	color:#777 !important;
	text-decoration:none !important 
	}	

.woocommerce .price_slider_amount .button{
	float:right !important;
	}
.woocommerce .price_label{
	float:left;
	margin:4px;
	}	
.woocommerce .price_label .from,
.woocommerce .price_label .to	{
	color:#191919;
	font-weight:700;
	font-size:12px;
	} 
	
.woocommerce table.cart a.remove{
	color:#191919 !important;
	}
	
.woocommerce table.cart a.remove:hover{
	color:#FC0000 !important;
	background:none !important;
	}
	
.woocommerce table.shop_table td{
	padding:10px 12px !important;
	}

.woocommerce table.cart td.actions .coupon .input-text{
	border-radius:3px;
	margin:0 8px 0 0 !important;
	width:140px !important;
	padding:7px 6px !important;
	box-shadow:none !important;
	}

.woocommerce .cart-collaterals .cart_totals {
    border:1px solid #DDD !important;
    border-radius:5px;
    padding:20px;
    width:44% !important;
	margin-bottom:20px;
}




.cart_totals h2,
.shipping_calculator h2,
.cross-sells h2 {
    border-bottom:1px solid #CCC;
    font-size:18px;
    padding:0 0 10px;
	text-align:right;
}
.cross-sells h2 {
	text-align:left;
}


.woocommerce form .form-row select,
.woocommerce form .form-row input.input-text,
.woocommerce form .form-row textarea {
    border:1px solid #CCC;
    border-radius:3px;
    padding:10px;
	width:60% !important;
}

.woocommerce .shipping-calculator-form p {text-align:right !important}
.woocommerce .cart-collaterals .shipping_calculator .button{width:auto !important;display:inline-block !important}



.woocommerce form.checkout .form-row select,
.woocommerce form.checkout .form-row input.input-text,
.woocommerce form.checkout .form-row textarea {
	width:100% !important;
}

.woocommerce p.woocommerce-error,
.woocommerce p.woocommerce-info,
.woocommerce p.woocommerce-message,
.woocommerce ul.woocommerce-error,
.woocommerce ul.woocommerce-info,
.woocommerce ul.woocommerce-message,
.woocommerce div.woocommerce-error,
.woocommerce div.woocommerce-info,
.woocommerce div.woocommerce-message{
	background:none !important;
	border:solid 1px #ccc !important;
	box-shadow:none !important;
	padding:15px 12px 15px 50px !important;
	}

.woocommerce p.woocommerce-error:before,
.woocommerce p.woocommerce-info:before,
.woocommerce p.woocommerce-message:before,
.woocommerce ul.woocommerce-error:before,
.woocommerce ul.woocommerce-info:before,
.woocommerce ul.woocommerce-message:before,
.woocommerce div.woocommerce-error:before,
.woocommerce div.woocommerce-info:before,
.woocommerce div.woocommerce-message:before{
	border-radius:4px !important;
	padding:5px !important;
    top:10px !important;
	}

.woocommerce form.checkout h3{
	font-size:18px !important;
	}


.woocommerce #customer_details{
	margin-bottom:25px;
	}


.woocommerce #payment {
    background:none !important;
    border:1px solid #DDDDDD;
}

.woocommerce #payment ul.payment_methods li img{display:inline}

.woocommerce #payment div.payment_box{box-shadow:none !important}



.woocommerce p.myaccount_user{
	border:1px solid #DDD;
    border-radius:5px;
    padding:20px;
	}




.woocommerce .col2-set .col-1,
.woocommerce .col2-set .col-2{
    border:1px solid #DDD;
    border-radius:5px;
    padding:10px;
    width:47% !important;
}


.woocommerce .addresses .title .edit {
    background:#777777;
    border-radius:3px;
    color:#DDD;
    padding:2px 7px;
}

.woocommerce .addresses .title .edit:hover {
    background:#191919;
    color:#FFF;
}



.woocommerce a.button.added:before,
.woocommerce button.button.added:before,
.woocommerce input.button.added:before {
	top:0 !important;
	right:3px !important;
	padding:5px 2px;
	}


.woocommerce a.button.added,
.woocommerce button.button.added,
.woocommerce input.button.added {
	padding-right:30px !important;
	}

.woocommerce a.added_to_cart {
    background: none repeat scroll 0 0 #EEEEEE;
    border: 1px solid #CFCFCF;
    bottom: 19px;
    color: #888888;
    font-size: 11px;
    padding: 2px 35px !important;
    position: absolute;
    right: -37px;
    transform: rotate(-45deg);
    white-space: nowrap;
}

.woocommerce div.product form.cart{
	margin-top:20px;
	}



.woocommerce ul.products li.product .price {
    padding:2px;
    text-align:center;
	margin:
}


.woocommerce .related ul li.product,
.woocommerce .related ul.products li.product,
.woocommerce .upsells.products ul li.product,
.woocommerce .upsells.products ul.products li.product{
	width:21.5% !important;
	}

.woocommerce #reviews h3{
	font-size:18px;
	}


.woocommerce div.product form.cart .variations select{
	padding:6px;
	border:solid 1px #ccc;
	border-radius:4px;
	}

.woocommerce div.product form.cart .single_add_to_cart_button{
	padding:8px 12px !important;
	}


.woocommerce .single_variation{
	margin:15px 0;
	}

.woocommerce div.product form.cart .variations label{
	line-height:2.5;
	}


.woocommerce ul.product_list_widget li dl{
	border-left:0 !important;
    float:left;
    font-size:10px;
    margin-right:10px !important;
    padding-left:0 !important;
	}


.woocommerce ul.products li.product a img,
.woocommerce ul.products li.product .price{
	box-shadow:none !important;
	}

.woocommerce ul.products li.product{
	border:solid 1px #CCC;
	border-radius:3px;
	-webkit-transition:border 0.2s ease, box-shadow 0.2s ease;
	transition:border 0.2s ease, box-shadow 0.2s ease;
	border-bottom:3px solid #CCC;
	overflow:hidden;
	}
	
.woocommerce ul.products li.product:hover{
	box-shadow:0 0 10px rgba(0, 0, 0, 0.2);
	border-color:#999;
	}

.woocommerce ul.products li.product a img{
	border-radius:4px 4px 0 0;
	border-bottom:solid 1px #ccc;
	}
	
.woocommerce-page ul.products.pr_4_col li.product,.woocommerce.columns-4 ul.products li.product{
	width:21.8% !important;
	}
	
.woocommerce-page ul.products.pr_3_col li.product,.woocommerce.columns-3 ul.products li.product{
	width:30.5% !important;
	}


.woocommerce-page ul.products.pr_2_col li.product,.woocommerce.columns-2 ul.products li.product{
	width:47.7% !important;
	}

.woocommerce-page ul.products.pr_1_col li.product,.woocommerce.columns-1 ul.products li.product{
	width:99.7% !important;
	}

	
.woocommerce .shop-links{
	float:none;
    margin:auto;
    width:155px;
	}


.widget_product_search{}
.widget_product_search form{position:relative}
.widget_product_search label{display:none}
.widget_product_search input[type="text"]{
    border:1px solid #CCC;
    border-radius:3px;
    box-sizing:border-box;
    color:#A7A7A7;
    cursor:text;
    font-size:11px;
    height:34px;
    line-height:24px;
    margin:0;
    padding:0 10px;
    transition:all 0.2s ease 0s;
    width:100%;
	}
.widget_product_search input[type="text"]:focus{
	border:solid 1px #999;
	color:#777;
	}
.widget_product_search input[type="submit"]{
	color:#ccc;
	background:none;
    border:0 none;
    cursor:pointer;
    font-size:11px;
    position:absolute;
    right:10px;
    top:10px;
	font-family:"FontAwesome";
    transition:all 0.2s ease 0s;
	
	}
.widget_product_search input[type="submit"]:hover{
	color:#777;
	}


.woocommerce #content div.product div.images img,
.woocommerce div.product div.images img {
    border: 1px solid #CCCCCC;
    box-shadow:none !important;
}


.woocommerce div.product div.thumbnails a{
	margin-bottom:3.8%;
	}


.woo-title .filter_wrapper .woocommerce-ordering, .pa_selection {
	border-radius:3px;
	}


.woocommerce .widget_layered_nav_filters ul li a{
	background:#191919 !important;
	border:none !important;
	margin: 0 3px;
    padding:4px 10px !important;
	}


.woocommerce dl.customer_details{
	border: 1px solid #DDD;
    border-radius: 5px;
    margin: 10px 0 25px;
    padding: 10px 15px;
	}

.woocommerce dl.customer_details dt{
	float: left;
    margin-right: 5px;
	}

.woocommerce dl.customer_details dd{
	font-weight: 700;
    margin: 0 0 5px;
	}


.widget.woocommerce li a{
	border-bottom:none;
	}
.widget.woocommerce .product_list_widget li a:before{content:"";}

.widget.woocommerce li{
	padding:0;
	}

.woocommerce ul.cart_list li,
.woocommerce ul.product_list_widget li{
	padding:10px 0 !important;
	}





































































