#u80
{
	background-color: transparent;
	position: relative;
}

#u93-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
}

#u72,#u88,#u94,#u96,#u98,#u103-3
{
	border-style: none;
	border-color: transparent;
	background-color: #B9BD17;
	position: relative;
}

#u95-4,#u97-4,#u99-4,#u101-4
{
	background-color: transparent;
	color: #FFFFFF;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
}

#u73
{
	border-style: none;
	border-color: transparent;
	background-color: #B9BD17;
}

#u75
{
	border-style: none;
	border-color: transparent;
	background-color: #333333;
	position: relative;
}

#u74
{
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #B9BD17;
	position: relative;
}

#u78-4
{
	background-color: transparent;
	line-height: 14px;
	font-size: 12px;
	color: #FFFFFF;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
}

