/*-------------------------------------------------------------------------------------------*/
/* Options Framework Admin Styles */
/* Custom CSS by Tohid Golkar */
/* www.tohidgolkar.com */
/*-------------------------------------------------------------------------------------------*/
#optionsframework-wrap {
	float:left;
	width:960px;
	margin: 19px 0 0 0;
	position:relative;
	}
#optionsframework-wrap .option_header{
    float: left;
    height: 65px;
    position: relative;
    width: 953px;
    z-index: 99;
	background:#000;

	
	}
#optionsframework-wrap .option_header .logo{
	
	}
	
#optionsframework-wrap .option_header .icon-setting{
	width:32px;
	height:32px;
	background:url(../images/settings.png) no-repeat;
	float:right;
	margin: 17px 21px 0 0;
	
	}
#optionsframework-wrap .option_header .logo h2{
	color: #EEEEEE;
    float: left;
    font-family: "Open Sans", sans-serif;
    margin: 6px 0 0 23px;
    text-shadow: 1px 1px 1px #000000;
	}
#optionsframework-wrap .option_header .logo span{
	color: #AAAAAA;
    float: left;
    margin: 26px 0 0;
	}
.updated {
	max-width:764px;
	margin-bottom:0px !important;
}
#optionsframework {
	position:relative;
	z-index: 0;
	max-width:781px;
	background:#fff;
	border-radius:0 0 6px 6px;
	border-color:#CCC;
}

#optionsframework form{
	padding:0;
}

#optionsframework h3 {
	cursor: default;
	padding: 10px 15px 10px;
	margin:15px 15px 0 15px;
	color:#FFF;
	text-shadow:1px 1px 1px #000;
	font-family: "Open Sans", sans-serif;
	background:#222;

}
#optionsframework p {
	margin-bottom:0;
	padding-bottom:10px;
	line-height: 1.4em;
}
#optionsframework .section {
	padding:20px 35px;
}


#optionsframework .wide {
	padding:15px;
}
#optionsframework .section:hover .heading {
	border-color:#92c419;
	color:#486600;
}
#optionsframework .section:hover .explain {
	color:#333;
}
#optionsframework .section:hover .controls input,
#optionsframework .section:hover .controls select,
#optionsframework .section:hover .controls textarea {
	border-color:#AAA;
}
#optionsframework .section .controls input:focus,
#optionsframework .section .controls select:focus,
#optionsframework .section .controls textarea:focus {
	border-color:#777;
}
#optionsframework .group {
	padding-bottom:40px;
	width: 781px;
	min-height:701px;
	display:none;
}
#optionsframework .group:nth-child(1) {
	display:block;
}
#optionsframework .section .heading {
	padding:10px 0px;
	margin:0 0 15px;
	border-bottom: 1px solid #dfdfdf;
}
#optionsframework .section .hty{
	border-bottom:0;
	float:left;
	width:80px;
}
#optionsframework .section .controls {
	float: left;
	min-width:350px;
	width: 54%;
	padding-right:2%;
}

#optionsframework #section-bg_img_select.section .controls,
#optionsframework #section-woo_cart_type.section .controls{width:100%}
#optionsframework #section-bg_img_select.section .explain{position:absolute}
#optionsframework #section-bg_img_select.section .controls .of-radio-tile-img,
#optionsframework #section-woo_cart_type.section .controls .of-radio-tile-img{margin:7px;}

#optionsframework .section .controls.control-demo .demoitem{
	float:left;
	}
#optionsframework .section .controls.control-demo .of-radio-img-label{
	display: block !important;
    margin: 15px 0 10px;
    text-align: center;
    text-transform: uppercase;
	}
#optionsframework .section .controls.control-demo{
	width:100%;
	margin-top:80px;
	padding-right:0;
	}
#optionsframework .section .controls.control-demo img{
	width:220px;
	margin:0 12px 17px 0;
	border-radius:0;
	}

#optionsframework .section .control-imageswide {
    width: 100%;
}
#optionsframework .section .control-imageswidelb {
	background:#393939;
    padding:0;
    width: 100%;
	border-radius:8px;
}
#optionsframework .section .control-imageswidelb img {
	margin:10px;
	width:210px;
}
#optionsframework .hty .controls {
	width: 68%;
}
#optionsframework .section .explain {
	max-width:42%;
	float: left;
	font-size: 12px;
	line-height:17px;
	color: #777;
	margin-top:8px;
}
#optionsframework .section.section-demo .explain{
	width:70%;
	max-width:70%;
	position:absolute;
	top:115px;
	}
#optionsframework .section-demo .button-primary{
	margin-top:-74px;
	margin-right:12px;
	display:none;
	}
#optionsframework .hty .explain{
	width:15%;
}
#optionsframework .section-checkbox .controls {
	width: 98%;
}
#optionsframework .section-checkbox .explain {
	max-width:94%;
}
#optionsframework .section-color .controls {
	min-width:125px;
	width:125px
}
#optionsframework .controls input, #optionsframework .controls select, #optionsframework .controls textarea {
	margin-bottom:10px;
	width:100%;
	padding:7px;
	background: -moz-linear-gradient(top,  #FFFFFF, #F1F1F1);
	background: -webkit-linear-gradient(top,  #FFFFFF, #F1F1F1);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#F1F1F1');
}
#optionsframework .section-radio label, #optionsframework .section-multicheck label {
	max-width:90%;
	line-height: 16px;
	margin-top:3px;
	margin-bottom:15px;
}
#optionsframework input.checkbox, #optionsframework input.of-radio {
	width: 30px;
	margin-top:2px;
	float:left;
	clear:both;
}
#optionsframework .controls .of-color {
	float: left;
	margin:3px 5px 0;
    padding: 3px;
    width: 76px;
	font-size:12px;
}
#optionsframework .controls .of-typography-size {
	width:80px;
	margin-left:5px;
	float:left;
	font-size:12px;
}
#optionsframework .controls .of-typography-unit {
	width:50px;
	margin-left:5px;
	float:left;
	font-size:12px;
}
#optionsframework .controls .of-typography-face {
	width:170px;
	margin-left:5px;
	float:left;
	font-size:12px;
}
#optionsframework .controls .of-typography-style {
	width:90px;
	margin-left:5px;
	margin-right:5px;
	float:left;
	font-size:12px;
}
#optionsframework .of-background-properties {
	clear:both;
	margin-top: 18px;	
}
#optionsframework .controls .of-background-repeat {
	width:125px;
	margin-right:5px;
	float:left
}
#optionsframework .controls .of-background-position {
	width:125px;
	margin-right:5px;
	float:left
}
#optionsframework .controls .of-background-attachment {
	width:125px;
	margin-right:5px;
	float:left
}
#optionsframework div.section-background .controls input.upload {
	width:47%;
}
#optionsframework .controls .of-radio-img-img {
	border:3px solid #ddd;
	margin:0 5px 10px 0;
	display:none;
	cursor:pointer;
	float:left;
	border-radius:8px;
}
#optionsframework .controls.control-imageswidelb .of-radio-img-img {border-color:transparent}
#optionsframework .controls .of-radio-img-selected,
#optionsframework .controls.control-imageswidelb .of-radio-img-selected {
	border:3px solid #92c419;
}

#optionsframework .controls .of-radio-img-img:hover {
	opacity:.8;
}
#optionsframework .controls .of-border-width {
	width:80px;
	float:left
}
#optionsframework .controls .of-border-style {
	width:120px;
	float:left
}
#optionsframework .hide {
	display:none;
}
#optionsframework .of-option-image {
	max-width:340px;
	margin:3px 0 18px 0;
}
#optionsframework .mini .controls select, #optionsframework .section .mini .controls {
	width: 140px;
	font-size:12px;
}
#optionsframework .mini .controls input, #optionsframework .mini .controls {
	min-width:140px;
	width: 140px;
}
#optionsframework .mini .explain {
	max-width:74%;
}

/* Editor */

#optionsframework .section-editor .explain {
	max-width: 98%;
	float:none;
	margin-bottom:5px;
}
#optionsframework .section-checkbox label.explain{margin-top:2px;}
/* Image Uploader */

#optionsframework .controls input.upload {
	width:80%;
}
#optionsframework .controls input.upload_button {
	border-color: #CCC;
    cursor: pointer;
    float: right;
    height: 32px;
    margin: 1px;
    padding: 0;
    width: 70px;
	border-radius:1px;	
}
#optionsframework .controls input.upload_button:hover {
	border-color:#666666;
	color:#000;
}
#optionsframework .screenshot {
	float:left;
	margin-left:1px;
	position:relative;
	width:344px;
	margin-top:3px;
}
#optionsframework .screenshot img {
	background:#FAFAFA;
	border-color:#ccc #eee #eee #ccc;
	border-style:solid;
	border-width:1px;
	float:left;
	max-width:334px;
	padding:4px;
	margin-bottom:10px;
}
#optionsframework .screenshot .mlu_remove {
	background:url("../images/ico-delete.png") no-repeat;
	border:medium none;
	bottom:4px;
	display:block;
	float:left;
	height:16px;
	padding:0;
	position:absolute;
	left:-4px;
	text-indent:-9999px;
	width:16px;
}
#optionsframework .screenshot .no_image .file_link {
	margin-left: 20px;
}
#optionsframework .screenshot .no_image .mlu_remove {
	bottom: 0px;
}
#optionsframework .reset-button {
	float:left;
	cursor:pointer;
}

/* Bottom Section */

#optionsframework-submit {
	padding: 12px 14px;
	border-top: 1px solid #AAA;
	background:#000;
}
#optionsframework .button-primary {
	float:right;
}

/* Bottom Section */

#optionsframework .section:before, #optionsframework .section:after {
	content: "";
	display: table;
}
#optionsframework .section:after {
	clear: both;
}

/* Custom CSS for Admin Theme Option */
.wp-admin select {
    height: 30px;
    padding: 5px !important;
}
.wp-core-ui .button, .wp-core-ui .button-primary, .wp-core-ui .button-secondary {
	height:31px;
	}
	
.wp-core-ui .button-primary {
	font-weight:700;
	padding:0 14px 1px;
	}
	

h2.nav-tab-wrapper, h3.nav-tab-wrapper {
    border-bottom-color: #CCC;
    margin-top:-5px;
	float: left;
    width: 155px;
	padding-left:0;
}
#wpbody-content .metabox-holder{float:left;padding-top:0;margin-top:-1px;}
h2 .nav-tab {

    color: #777;
    display: block;
    float: left;
    font-size: 13px;
	font-weight:700;
    line-height: 27px;
    padding: 6px 10px 8px;
    position: relative;
    width: 150px;
    z-index:5;
	background:#F5F5F5;
}
.nav-tab {
    border: solid 1px #DDD;
}
.nav-tab:hover {
    border-color:#CCC;
}
.nav-tab-active {
    background: none repeat scroll 0 0 #FFFFFF !important;
    border-color: #DDD #FFF #DDD #DDD;
	color:#333 !important;
}
.nav-tab-active:hover {
    border-color: #CCC #FFF #CCC #CCC;
}
.nav-tab:hover {

	color:#333 !important;
	background: #eee;
}

.nav-tab span{
	float:left;
	width:16px;
	height:16px;
	background:url(../images/icons.png) no-repeat;
	margin: 5px 10px 0 0;
	}
.nav-tab span.layout{background-position:-16px 0;}
.nav-tab span.homepage{background-position:-32px 0;}
.nav-tab span.slider{background-position:-48px 0;}
.nav-tab span.footer{background-position:-64px 0;}
.nav-tab span.blog{background-position:-80px 0;}
.nav-tab span.contact{background-position:-96px 0;}
.nav-tab span.social{background-position:-112px 0;}
.nav-tab span.twitter{background-position:-128px 0;}
.nav-tab span.clients{background-position:-144px 0;}
.nav-tab span.portfolioc{background-position:-160px 0;}
.nav-tab span.appearance{background-position:-176px 0;}
.nav-tab span.tools{background-position:-192px 0;}
.nav-tab span.custom{background-position:-208px 0;}
.nav-tab span.typography{background-position:-224px 0;}
.nav-tab span.lightbox{background-position:-240px 0;}
.nav-tab span.ok{background-position:-256px 0;}
.nav-tab span.seo{background-position:-272px 0;}
.nav-tab span.portfolio{background-position:-288px 0;}
.nav-tab span.header{background-position:-304px 0;}
.nav-tab span.recentposts{background-position:-320px 0;}
.nav-tab span.woo{background-position:-336px 0;}
.nav-tab span.demo{background-position:-352px 0;}
.nav-tab span.testimonial{background-position:-368px 0;}
.nav-tab span.main{background-position:-384px 0;}


.wrap div.updated, .wrap div.error, .media-upload-form div.error {
   
    border: medium none;
    border-radius: 3px;
    color: #FFFFFF;
    margin: 12px;
    padding: 3px 0 3px 42px;
    position: absolute;
    right: 60px;
    text-align: left;
    width: 111px;
	display:none;
}
#setting-error-restore_defaults{width:157px}
.wrap div.updated {
	 background: url("../images/ok.png") no-repeat scroll 11px center rgba(255,255,255, 0.25);
	}

h4{
	font-size:13px;	
}

#optionsframework .section-info{
	padding:0;
	}
	
#optionsframework .section-info h4{
	background: none repeat scroll 0 0 #888;
    color: #FFFFFF;
    padding: 8px;
	margin:2px;
	}	

.wp-core-ui .button-primary{
	background-color: #3e851c;
    border-color: #3e851c;
	box-shadow: none;
	border-radius:3px;
	}


	

.wp-core-ui .button-primary:hover,.wp-core-ui .button-primary:focus {
	background-color: #489C21;
    border-color: #489C21;
	box-shadow:none;
	}

.of-radio-tile-radio{}	
.of-radio-tile-img{
	width:60px;
	height:60px;
	cursor:pointer;
	display:block;
	border: 3px solid #FFFFFF;
	margin:5px;
	float:left;
	box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
	border-radius:10px;
	}

.of-radio-tile-img{text-align:center}
.of-radio-tile-img i{line-height:60px}
.of-radio-tile-selected{
	box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
	border: 3px solid #92c419;
	}

#optionsframework .section-note a{
	font-weight:700;
	color:inherit;
	text-decoration:none;
	}
#optionsframework .section-note a:hover{
	text-decoration:underline;
	}


#optionsframework .section-note {
	border: 1px solid;
    border-radius:5px;
    margin: 25px 35px 15px;
    padding: 2px 16px 2px 45px;
}

#optionsframework .section-note.note_alert {
	color: #9F6000;
	background:url(../images/alert.png) no-repeat 12px center #fff4c6;
	border-color:#d99d3d;
}

#optionsframework .section-note.note_error {
	color: #D8000C;
	background:url(../images/error.png) no-repeat 12px center #ffd5d5;
	border-color:#ff7178;
}

#optionsframework .section-note.note_info {
	color: #00529B;
	background:url(../images/info.png) no-repeat 12px center #d9f0fc;
	border-color:#6fa3d1;
}

#optionsframework .section-note.note_ok {
	color: #4F8A10;
	background:url(../images/ok24.png) no-repeat 12px center #e9f8d0;
	border-color:#93c55e;
	
}
.topbtn{
	background:#000 !important;
	color:#ddd !important;
    border: 0 none !important;
    font-size: 10px !important;
    height: 29px !important;
	left: 1133px;
    padding: 1px 12px 0 7px !important;
    position: fixed;
    top: 70px;
	border-radius:0 20px 20px 0 !important;
	}
.topbtn:hover{
	background:#555 !important;
	color:#fff !important;
	}
		
.hide {display:none;}
.clearfix {clear:both}
	
.ibutton-container{position:relative;height:27px;cursor:pointer;overflow:hidden;max-width:400px;-khtml-user-select:none;-o-user-select:none;-moz-user-select:none;-moz-user-focus:ignore;-moz-user-input:disabled;width:89px;margin-bottom:4px;}.ibutton-container input{position:absolute;top:0;left:0;filter:alpha(opacity=0);-moz-opacity:.0;opacity:.0;-moz-user-input:enabled!important;}.ibutton-handle{display:block;height:27px;cursor:inherit;position:absolute;top:0;left:0;width:0;background:transparent url(../images/ibtn.png) no-repeat scroll 0 -54px;z-index:3;padding-left:3px;width:33px;}.ibutton-handle-right{height:100%;width:100%;padding-right:3px;background:transparent url(../images/ibtn.png) no-repeat scroll 100% -54px;z-index:3;}.ibutton-handle-middle{height:100%;width:100%;background:transparent url(../images/ibtn.png) no-repeat scroll 50% -54px;z-index:3;}div.ibutton-label-on,div.ibutton-label-off{white-space:nowrap;font-size:17px;line-height:17px;font-weight:bold;font-family:Helvetica Neue,Arial,Helvetica,sans-serif;text-transform:uppercase;cursor:inherit;display:block;height:22px;position:absolute;width:auto;top:0;padding-top:5px;overflow:hidden;background:transparent url(../images/ibtn.png) no-repeat scroll 0 0;}div.ibutton-label-on{color:#fff;text-shadow:0 0 2px rgba(0,0,0,0.6);left:0;padding-top:5px;z-index:1;}div.ibutton-label-on span{padding-left:5px;}div.ibutton-label-off{color:#999;background-position:100% 0;text-shadow:0 -1px 2px rgba(153,153,153,0.4);text-align:right;right:0;width:95%;}div.ibutton-label-off span{padding-right:5px;}.ibutton-container label{cursor:inherit;padding:1px 8px;font-size:14px!important;}.ibutton-focus label{border:1px dotted #666!important;padding:0 2px;}.ibutton-focus div.ibutton-label-on span label{border-color:#fff!important;}.ibutton-padding-left,.ibutton-padding-right{position:absolute;top:4px;z-index:2;background:transparent url(../images/ibtn.png) no-repeat scroll 0 -4px;width:3px;height:20px;}.ibutton-padding-left{left:0;}.ibutton-padding-right{right:0;background-position:100% -4px;}.ibutton-active-handle .ibutton-handle{background-position:0 -108px;}.ibutton-active-handle .ibutton-handle-right{background-position:100% -108px;}.ibutton-active-handle .ibutton-handle-middle{background-position:50% -108px;}.ibutton-disabled{cursor:not-allowed!important;}.ibutton-disabled .ibutton-handle{background-position:0 -81px;}.ibutton-disabled .ibutton-handle-right{background-position:100% -81px;}.ibutton-disabled .ibutton-handle-middle{background-position:50% -81px;}.ibutton-disabled div.ibutton-label-on{background-position:0 -27px;}.ibutton-disabled div.ibutton-label-off{background-position:100% -27px;}.ibutton-disabled .ibutton-padding-left{background-position:0 -27px;}.ibutton-disabled .ibutton-padding-right{background-position:100% -27px;}.ibutton-disabled div.ibutton-label-on{color:#fff;}.ibutton-disabled div.ibutton-label-off{color:#cbcbcb;}

.control-multicheck .ibutton-container{margin-top:15px}.control-multicheck .ibutton-container:first-child{margin-top:5px}

.slider {
  width: 300px;
  margin-top:8px;
  float:left;
}

.slider > .dragger {
  background: #8DCA09;
  background: -webkit-linear-gradient(top, #8DCA09, #72A307);
  background: -moz-linear-gradient(top, #8DCA09, #72A307);
  background: linear-gradient(top, #8DCA09, #72A307);

  -webkit-box-shadow: inset 0 2px 2px rgba(255,255,255,0.5), 0 2px 8px rgba(0,0,0,0.2);
  -moz-box-shadow: inset 0 2px 2px rgba(255,255,255,0.5), 0 2px 8px rgba(0,0,0,0.2);
  box-shadow: inset 0 2px 2px rgba(255,255,255,0.5), 0 2px 8px rgba(0,0,0,0.2);

  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;

  border: 1px solid #496805;
  width: 16px;
  height: 16px;
}

.slider > .dragger:hover {
  background: -webkit-linear-gradient(top, #8DCA09, #8DCA09);
}


.slider > .track, .slider > .highlight-track {
  background: #ccc;
  background: -webkit-linear-gradient(top, #bbb, #ddd);
  background: -moz-linear-gradient(top, #bbb, #ddd);
  background: linear-gradient(top, #bbb, #ddd);

  -webkit-box-shadow: inset 0 2px 4px rgba(0,0,0,0.1);
  -moz-box-shadow: inset 0 2px 4px rgba(0,0,0,0.1);
  box-shadow: inset 0 2px 4px rgba(0,0,0,0.1);

  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;

  border: 1px solid #aaa;
  height: 4px;
}

.slider > .highlight-track {
	background-color: #8DCA09;
	background: -webkit-linear-gradient(top, #8DCA09, #72A307);
	background: -moz-linear-gradient(top, #8DCA09, #72A307);
	background: linear-gradient(top, #8DCA09, #72A307);
	
	border-color: #496805;
}

.lblsldr{float:left;margin:10px 0 0 10px;font-weight:700}